{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
	<h1>Welcome to Flask-App</h1>
	<p class="lead">This application is built on the Python Flask framework and the purpose is to learn </p>
</div>
{% endblock %}